$black: #161710;
$colorText: #5c5d5e;
$colorTextDark: #262727;
$colorTextSecondary: #919399;
$colorLink: #005FF9;
$colorLinkActive: #004CC7;
$colorLinkVisited: #4D8FFB;
$colorLinkHover: #669FFB;


$green: #294830;

$colorPrimary: #ED2939;
$colorPrimaryLight: #FBD4D7;
$colorPrimaryDark: #BE212E;
$colorSuccess: #0DC268;
$colorAttention: #ED7B29;
$colorError: #F15461;

$fontApple: -apple-system, system-ui, BlinkMacSystemFont, “Segoe UI”, Roboto, “Helvetica Neue”, Arial, sans-serif;