$tablet-width: 768px;
$desktop-width: 1280px;
$big-desktop-width: 1440px;
$desktop-large-width: 1920px;
$mobile-width-only: 767px;
$iphone-mini-only: 320px;
$iphone-se-only: 375px;
$iphone-12: 390px;

$transition-hover: 0.2s cubic-bezier(0.37, 0, 0.63, 1);
$box-shadow: 0 0 8px rgb(0 0 0 / 12%);

$color-black: #161710;
$color-text: #5c5d5e;
$color-text-dark: #262727;

$fontApple: -apple-system, system-ui, BlinkMacSystemFont, “Segoe UI”, Roboto, “Helvetica Neue”, Arial, sans-serif;
